.card__tabs{
    margin-bottom: 100px;
    &-box{
        background: #F0F0F4;
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        padding: 22px 0;
        margin-bottom: 50px;
        margin-left: -15px;
        margin-right: -15px;
    }
}
.card__tab{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align-last: left;
    margin-bottom: 35px;
}
.card__tab{
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
    opacity: 0.6;
}
.card__tab.tab--active{
    opacity: 1;
    cursor: inherit;
    font-weight: 700;
}
.card__top-line{
    margin-bottom: 10px;
}
.card__label-search{
    font-size: 17px;
    line-height: 20px;
    color: rgba(#2F3035, .7);
    display: block;
}
.card__input-search{
    background: #F0F0F4;
    border-radius: 3px;
    outline: none;
    border: none;
    width: 100%;
    padding: 9px 37px 9px 17px;
    color: #C4C4C4;
    margin-top: 15px;
    margin-bottom: 40px;
}
.card__input-pickup {
    position: relative;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
    border-bottom: 0.5px solid #C4C4C4;
    margin-bottom: 14px;
    padding-bottom: 10px;
    display: inline-block;
    color: rgba(#2F3035, .7);
    input{
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0 );
        padding-left: 20px;
    }
}
.card__input-pickup input:checked + .card__style{
    background-color: #1C62CD;
}

.card__style{
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #C4C4C4;
    border-radius: 1px;
    margin-left: -20px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.card__list-item{
    padding: 20px 0;
    border-bottom: 1px solid rgba(#2F3035, .1);
    // display: flex;
    font-size: 16px;
    line-height: 19px;
    color: rgba(#2F3035, .7);
    &--title{
        display: none;
    }
}
.card__list-address{
    

}
.card__list-workhours{
    width: 100%;
    
}
.card__list-mobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.mobile-title{
    font-weight: 700;
}
.workhours{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card__list-btn{
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #1C62CD;
    position: relative;
    &:before{
        position: absolute;
        content: '';
        width: 12px;
        height: 8px;
        background-image: url('../img/drop-down-blue.svg');
        transform: rotate(0);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.card__list-btn--active:before{
    transform: rotate(180deg);
}
.card__list-btn--active ~ .mobile-dn{
    display: block;
}
.mobile-dn{
    display: none;
}
.card__list-btn{
    margin-left: auto;
    button{
        background: #1C62CD;
        border-radius: 3px;
        padding: 10px 40px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.12em;
        color: #FFFFFF;
        text-transform: uppercase;
        width: 100%;
    }
}