.catalog{
    &__title{
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #2F3035;
        margin-bottom: 25px;
    }
    &__filter{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__filter-items{
        button{
            font-size: 14px;
            line-height: 17px;
            opacity: .7;
            padding: 5px 28px;
            background: #F0F0F4;
            border-radius: 3px;
            border: none;
            outline: none;
            cursor: pointer;
            +button{
                margin-left: 8px;
            }
        }
    }
    &__filter-btn button{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        +button{
            margin-left: 10px;
        }
    }
    &__filter-btngrid{

    }
    &__filter-btnline{
        
    }
    &__inner{
        display: flex;
    }
    &__inner-aside{
        min-width: 290px;
        margin-right: 10px;
    }
    &__inner-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .product-item__wrapper{
            margin-bottom: 30px;
        }
    }
    .product-item{
        min-height: 409px;
    }
}
.pagination{
    width: 100%;
    margin-top: 70px;
    &-list{
        display: flex;
        justify-content: center;
    }
    &-list__item{
        padding: 6px 12px;
        border: 2px solid transparent;
        margin: 0 4px;
        font-size: 18px;
        line-height: 22px;
        color: #C4C4C4;
    }
    &-list__item.active{
        border: 2px solid #1C62CD;
        color: #1C62CD;
        a{
            display: block;
        }
    }
}
.aside-filter{
    &__tabs{
        display: flex;
        justify-content: space-between;
    }
    &__tab{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #C4C4C4;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        width: 50%;
    }
    .tab--active{
        color: #2F3035;
        position: relative;
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: 700;
        span{
            padding-bottom: 7px;
            border-bottom: 2px solid #1C62CD;
        }
    }
    &__item-drop{
        margin: 40px 0;
        &--active{

        }
    }
    &__item-title{
        font-family: 'SFProDisplay-Seminold', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding-left: 26px;
        cursor: pointer;
    }
    &__content{
        display: none;
    }
    &__content-box{
        width: 50%;
    }
    .filter__item-drop{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            background-image: url('../img/drop-down.svg');
            width: 12px;
            height: 8px;
            left: 0;
            bottom: 5px;
            transform: rotate(0);
        }
        &--active{
            &:before{
                transform: rotate(180deg);
            }
        }
        &--active +.aside-filter__content{
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        &--active +.aside-filter__content.aside-filter__content--radio{
            flex-wrap: nowrap;
        }
    }
    &__label{
        margin-left: 20px;
        position: relative;
        cursor: pointer;
        font-size: 14px;
        line-height: 17px;
    }
    &__input{
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0 );
        padding-left: 20px;
    }
    &__style{
        position: absolute;
        width: 14px;
        height: 14px;
        border: 1px solid #C4C4C4;
        border-radius: 1px;
        margin-left: -20px;
        top: 0;
    }
}
.aside-filter__input:checked + .aside-filter__style{
    background-color: #1C62CD;
}
.aside-filter__input:checked + .aside-filter__style--check{
    &:before{
        background-image: url('../img/check.svg');
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}
.aside-filter__slider{
    width: 95%;
    margin-bottom: 20px;
}
.noUi-target{
    height: 3px;
    // border: 3px solid ;
    background-color: #E0E0E0;
}
.noUi-connect{
    background-color: #1C62CD;
}
.noUi-horizontal .noUi-handle{
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: #1C62CD;
    top: -4px;
    right: -2px;
    box-shadow: none;
    border: none;

}

.noUi-handle:after, .noUi-handle:before{
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}