.catalog{
    &__title{
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #2F3035;
        margin-bottom: 25px;
    }
    &__filter{
        margin-bottom: 50px;
    }
    &__filter-items{
        button{
            font-size: 14px;
            line-height: 17px;
            opacity: .7;
            padding: 5px 28px;
            background: #F0F0F4;
            border-radius: 3px;
            border: none;
            outline: none;
            cursor: pointer;
            +button{
                margin-left: 8px;
            }
        }
    }
    &__filter-btn button{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        display: none;
        +button{
            margin-left: 10px;
        }
    }
    &__filter-btn{
        display: flex;
        align-items: center;
        margin-top: 30px;
        .choices{
            border: 1.5px solid #d7d9df;
            padding: 7px 20px 7px 8px;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 0;
            margin-right: 35px;
        }
        .choices[data-type*=select-one]:after{
            top: 12px;
            right: 12px;
        }
        .choices__list--dropdown{
            width: 185px;
            z-index: 6;
            left: 0;
        }
        .choices__inner{
            width: 155px;
        }
    }
    &__filter-btngrid{

    }
    &__filter-button{
        opacity: .3;
        &--active{
            opacity: 1;
        }
    }
    &__inner-aside{
        display: none;
    }
    &__inner-list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .product-item__wrapper{
            margin-bottom: 30px;
        }
    }
    .product-item{
        min-height: 409px;
    }
}
.pagination{
    width: 100%;
    margin-top: 70px;
    &-list{
        display: flex;
        justify-content: center;
    }
    &-list__item{
        padding: 6px 10px;
        border: 2px solid transparent;
        margin: 0 4px;
        font-size: 18px;
        line-height: 22px;
        color: #C4C4C4;
    }
    &-list__item.active{
        border: 2px solid #1C62CD;
        color: #1C62CD;
        a{
            display: block;
        }
    }
}
.aside__btn{
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 0;
    color: #fff;
    background-color: #1C62CD;
    text-align: center;
    margin-bottom: 50px;
}
.aside__btn--active + .catalog__inner-aside{
    display: block;
}
.aside-filter{
    &__tabs{
        display: flex;
        justify-content: space-between;
    }
    &__tab{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #C4C4C4;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        width: 50%;
    }
    .tab--active{
        color: #2F3035;
        position: relative;
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: 700;
        span{
            padding-bottom: 7px;
            border-bottom: 2px solid #1C62CD;
        }
    }
    &__item-drop{
        margin: 40px 0;
    }
    &__item-title{
        font-family: 'SFProDisplay-Seminold', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding-left: 26px;
        cursor: pointer;
    }
    &__content{
        display: none;
    }
    &__content-box{
        width: 50%;
    }
    &__item-btn{
        text-align: center;
    }
    &__item-list{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 26px;
        padding-bottom: 6px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 95%;
            height: 2px;
            background-color: #C4C4C4;
            left: 0;
            bottom: 0;
        }
    }
    
    .filter__item-drop{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            background-image: url('../img/drop-down.svg');
            width: 12px;
            height: 8px;
            left: 0;
            bottom: 5px;
            transform: rotate(0);
        }
        &--active{
            &:before{
                transform: rotate(180deg);
            }
        }
        &--active +.aside-filter__content{
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            .watch-more{
                width: 100%;
                margin-top: 20px;
            }
            .watch-more__btn{
                left: 0;
                bottom: -30px;
                border: none;
                outline: none;
                background-color: transparent;
                border-bottom:1px solid #1C62CD;
                padding: 0;
                font-size: 14px;
                line-height: 17px;
                color: #1C62CD;
                cursor: pointer;
            }
        }
        &--active +.aside-filter__content.aside-filter__content--radio{
            flex-wrap: nowrap;
        }
    }
    &__label{
        margin-left: 20px;
        position: relative;
        cursor: pointer;
        font-size: 14px;
        line-height: 17px;
    }
    &__input{
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0 );
        padding-left: 20px;
    }
    &__input:checked + .aside-filter__style{
        background-color: #1C62CD;
    }
    &__input:checked + .aside-filter__style--check{
        &:before{
            background-image: url('../img/check.svg');
            background-repeat: no-repeat;
            top: 50%;
            left: 50%;
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }
    &__style{
        position: absolute;
        width: 14px;
        height: 14px;
        border: 1px solid #C4C4C4;
        border-radius: 1px;
        margin-left: -20px;
        top: 0;
    }
    &__slider{
        width: 95%;
        margin-bottom: 20px;
    }
    &__slider-text{
        font-size: 14px;
        line-height: 17px;
        color: #C4C4C4;
        margin-right: 10px;
    }
    &__slider-inputs{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 13px;
    }
    &__slider-inputPrice{
        width: 50px;
        border: none;
        outline: none;
    }
    &__slider-input{
        width: 95%;
        padding: 8px 20px;
        border: 1px solid #E0E0E0;
        margin-bottom: 20px;
        outline: none;
        &::placeholder{
            color: #BDBEC2;
        }
    }
}
.filter__item-select{
    margin-right: 10px;
}
.filter-btn__send{
    background: #F0F0F4;
    padding: 17px 85px;
    margin-top: 40px;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #BDBEC2;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    cursor: pointer;
    margin-bottom: 15px;
    &--active{
        background-color: #1C62CD;
        color: #fff;
    }
}
.filter__extra{
    font-size: 13px;
    line-height: 16px;
    color: #2F3035;
    position: relative;
    padding-right: 30px;
    display: inline-block;
    margin-bottom: 15px;
    &:after{
        position: absolute;
        content: '';
        background-image: url('../img/drop-down.svg');
        width: 12px;
        height: 8px;
        right: 0;
        top: 4px;
    }
    &-content{
        display: none;
    }
}
.filter__item-drop--active + .filter__extra-content {
    display: block;
}
.filter__extra.filter__item-drop--active:after{
    transform: rotate(180deg);
}
.filter-btn__reset{
    font-size: 13px;
    line-height: 16px;
    color: #C4C4C4;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid #C4C4C4;
}
.input{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        left: 3px;
        bottom: 0;
        height: 1px;
        width: 43px;
        background: #000;
    }
}
.noUi-target{
    height: 3px;
    background-color: #E0E0E0;
}
.noUi-connect{
    background-color: #1C62CD;
}
.noUi-horizontal .noUi-handle{
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: #1C62CD;
    top: -4px;
    right: -2px;
    box-shadow: none;
    border: none;
}
.noUi-handle:after, .noUi-handle:before{
    display: none;
}
.aside-filter .choices{
    width: 68px;
}
.choices{
    &__inner{
        background-color: transparent;
        border: none;
        outline: none;
        font-family: 'Barlow', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #48494D;
        padding: 0;
        padding: 0;
        min-height: auto;
        height: 25px;
    }
}
.choices__list--single{
    padding: 0;
}
.aside-filter .choices__list--dropdown{
    width: 100px;
}
.choices__list--dropdown .choices__item--selectable{
    padding-right: 0;
}
.is-open .choices__inner{
    background: #FFFFFF;
}
.choices[data-type*=select-one]:after{
    background-image: url(../img/drop-down.svg);
    width: 12px;
    height: 8px;
    border: none;
    margin-top: 0;
    transform: rotate(0);
}
.aside-filter .choices[data-type*=select-one]:after{
    top: 7px;
    right: 20px;
}
.choices[data-type*=select-one].is-open:after{
    margin-top: 0;
    transform:  rotate(180deg);
}
.aside-filter .choices__list--dropdown{
    width: 68px;
    left: 0px;
    font-family: 'Barlow', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted:after{
    display: none;
}
.aside-filter .choices__list--dropdown .choices__item--selectable.is-highlighted{
    background-color: rgba(107, 126, 172, 0.05);
}
.aside-filter__item-list{
    display: flex;
    justify-content: space-between;
}
.btn-sale{
    .aside-filter__content{
        flex-wrap: nowrap !important;
        justify-content: space-between;
    }
    .aside-filter__content-box{
        width: 63px;
    }
    .aside-filter__label{
        position: relative;
        display: inline-block;
        width: 63px;
        height: 25px;
        width: 63px;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
        color: #C4C4C4
    }
    .aside-filter__style{
        background-color: #F0F0F4;
        height: 25px;
        width: 63px;
        border: none;
    }
    .aside-filter__input:checked + .aside-filter__style{
        background-color: #1C62CD;
        height: 25px;
        width: 63px;
        border: none;
    }
    .aside-filter__input:checked  + .aside-filter__style ~ .btn-sale__text{
        color: #FFFFFF;
    }
    &__text{
        position: absolute;
        top: 5px;
        left: 25%;
        transform: translateX(-57%);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}

.dn{
    display: none;
}
// .watch-more .watch-more--active ~ .dn{
//     display: block;
// }
// .watch-more.watch-more--active .aside-filter__content-box.dn {
//     display: block;
// }
.visible.dn {
    display: block;
    -webkit-animation-name: opacityVisible;
    animation-name: opacityVisible;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes opacityVisible {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes opacityVisible {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }