.footer{
    background: #F0F0F4;
    &__top{
        padding-top: 45px;
    }
    &__top-inner{
        display: flex;
        justify-content: space-between;
    }
    &__top-newslatter.footer__top-item{
        width: 295px;
        margin-right: 50px;
    }
    &__top-title{
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    }
    &-form{
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
    }
    &-form__input{
        padding: 0 12px;
        border: none;
        outline: none;
        font-size: 14px;
        line-height: 17px;
        &::placeholder{
            color: #C4C4C4;
        }
    }
    &-list{
        font-size: 14px;
        line-height: 25px;
    }
    &-form__btn{
        background: #1C62CD;
        padding: 10px 16px;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: 'SFProDisplay-Seminold', sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__top-item{
        width: 200px; 
    }
    &__top-social.footer__top-item{
        width: 250px;
    }
    &__bottom{
        padding: 46px 0 22px;
        display: flex;
        justify-content: center;
    }
    &__bottom-link{
        font-size: 10px;
        line-height: 12px;
        color: #48494D;
        margin: 0 40px;
    }
}
.social-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}