.mobile-overflov{
    width: 1000px;
}
.tabs__wrapper{
    overflow-x: auto;
}
.search__tabs{
    margin-bottom: 25px;
    .tab{
        padding: 11px 26px 12px;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        &--active{
            background: #F0F0F4;
            border-radius: 5px;
            font-family: 'SFProDisplay-Bold', sans-serif;
            font-weight: 700;
        }
    }
}
.tabs-content{
    display: none;
    &--active{
        display: block;
    }
}
.search__content{
    
    &-form{
        display: flex;
        position: relative;
    }
    &-input{
        background: #F0F0F4;
        border-radius: 3px;
        padding: 15px 50px 15px 20px;
        // padding-right: 50px;
        font-size: 16px;
        line-height: 19px;
        border: none;
        outline: none;
        width: 100%;
        &::placeholder{
            color: #656464;
        }
    }
    &-btn{
        background-image: url('../img/search-btn.svg');
        background-repeat: no-repeat;
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        font-size: 0;
        line-height: 17px;
        border: none;
        outline: none;
        // padding: 17px 41px;
        cursor: pointer;
        margin-left: -3px;
    }
}