body{
    color: #2F3035;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  section{
      margin-bottom: 80px;
  }
.price{
    font-family: 'Barlow', sans-serif;
    position: relative;
}