<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title drive moto
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="libs/nouislider/nouislider.min.css")
        link(rel="stylesheet", href="libs/choices/choices.min.css")
        link(rel="stylesheet" href="css/main.min.css")

    body
        header.header
            .header__top
                .container
                    .header__top-inner
                        nav.menu
                            button.menu__btn
                                .menu__btn-line
                                .menu__btn-line
                                .menu__btn-line
                            ul.menu__list
                                li.menu__item
                                    a.menu__link(href="shops.html") Магазины
                                li.menu__item
                                    a.menu__link(href="stocks.html") Акции
                                li.menu__item
                                    a.menu__link(href="delivery-and-payment.html") Доставка и оплата
                        a.logo(href="/")
                            img.logo__img(src="img/logo.svg", alt="")
                        .header__box
                            .header__adress Москва,  ул. Науки  25
                            ul.user-list
                                li.user-list__item
                                    a.user-list__link(href="#")
                                        img.user-list__img(src="img/heart.svg", alt="")
                                li.user-list__item
                                    a.user-list__link(href="#")
                                        img.user-list__img(src="img/user.svg", alt="")
                                li.user-list__item
                                    a.user-list__link.basket(href="#")
                                        img.user-list__img(src="img/basket.svg", alt="")
                                        p.basket__num 1
            ul.menu-mobile__list 
                li.menu-mobile__item
                    a.menu-mobile__link(href="#")
                        img.menu-mobile__img(src="img/user.svg", alt="")
                        p Войти
                li.menu-mobile__item
                    a.menu-mobile__link(href="#")
                        img.menu-mobile__img(src="img/user.svg", alt="")
                        p Регистрация
                li.menu-mobile__item
                    a.menu-mobile__link(href="#")
                        img.menu-mobile__img(src="img/heart.svg", alt="")
                        p Избранное
                li.menu-mobile__item
                    a.menu-mobile__link(href="#")
                        img.menu-mobile__img(src="img/basket.svg", alt="")
                        p Корзина
                li.menu-mobile__item
                    a.menu-mobile__link(href="#")
                        img.menu-mobile__img(src="img/shop.svg", alt="")
                        p Магазины
                li.menu-mobile__item
                    a.menu-mobile__link(href="stocks.html")
                        img.menu-mobile__img(src="img/sale.svg", alt="")
                        p Акции
                li.menu-mobile__item
                    a.menu-mobile__link(href="delivery-and-payment.html")
                        img.menu-mobile__img(src="img/div.svg", alt="")
                        p Доставка и оплата
                li.menu-mobile__item
                    a.menu-mobile__link(href="catalog.html")
                        p Квадроциклы
                li.menu-mobile__item
                    a.menu-mobile__link(href="catalog.html")
                        p Катера
                li.menu-mobile__item
                    a.menu-mobile__link(href="catalog.html")
                        p Гидроциклы
                li.menu-mobile__item
                    a.menu-mobile__link(href="catalog.html")
                        p Лодки
                li.menu-mobile__item
                    a.menu-mobile__link(href="catalog.html")
                        p Вездеходы
                li.menu-mobile__item
                    a.menu-mobile__link(href="catalog.html")
                        p Снегоходы
                li.menu-mobile__item
                    a.menu-mobile__link(href="catalog.html")
                        p Двигатели
                li.menu-mobile__item
                    a.menu-mobile__link(href="catalog.html")
                        p Запчасти
            .menu-mobole__wrapper
                ul.menu-mobile__line
                    li.menu__item
                        a.menu__link(href="shops.html") Магазины
                    li.menu__item
                        a.menu__link(href="stocks.html") Акции
                    li.menu__item
                        a.menu__link(href="delivery-and-payment.html") Доставка и оплата
            .header__bottom
                .container
                    ul.menu-categories
                        li.menu-categories__item
                            a.menu-categories__link(href="catalog.html") Квадроциклы
                        li.menu-categories__item
                            a.menu-categories__link(href="catalog.html") Катера
                        li.menu-categories__item
                            a.menu-categories__link(href="catalog.html") Гидроциклы
                        li.menu-categories__item
                            a.menu-categories__link(href="catalog.html") Лодки
                        li.menu-categories__item
                            a.menu-categories__link(href="catalog.html") Вездеходы
                        li.menu-categories__item
                            a.menu-categories__link(href="catalog.html") Снегоходы
                        li.menu-categories__item
                            a.menu-categories__link(href="catalog.html") Двигатели
                        li.menu-categories__item
                            a.menu-categories__link(href="catalog.html") Запчасти
        .breadcrumbs
            .container
                .breadcrumbs__inner
                    ul.breadcrumbs__list.mobile-overflov
                        li.breadcrumbs__list-item 
                            a(href="index.html") Главная
                        li.breadcrumbs__list-item 
                            span Гидроциклы
        section.catalog
            .container 
                h2.catalog__title Гидроциклы
                .catalog__filter
                    .catalog__filter-itemsinnner
                        .catalog__filter-items.mobile-overflov
                            button Полноприводные
                            button от 5000
                            button BRP
                            button еще
                    .catalog__filter-btn
                        select.catalog__filter-select
                            option(value="По популярности") По популярности
                            option(value="По убыванию цены") По убыванию цены
                            option(value="По возрастанию цены") По возрастанию цены
                        button.catalog__filter-btngrid.catalog__filter-button.catalog__filter-button--active
                            <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="1" y="1" width="21" height="19" stroke="#2F3035" stroke-width="2"/>
                                <rect x="7" y="6" width="2" height="2" fill="#2F3035" stroke="#2F3035" stroke-width="2"/>
                                <rect x="7" y="13" width="2" height="2" fill="#2F3035" stroke="#2F3035" stroke-width="2"/>
                                <rect x="14" y="6" width="2" height="2" fill="#2F3035" stroke="#2F3035" stroke-width="2"/>
                                <rect x="14" y="13" width="2" height="2" fill="#2F3035" stroke="#2F3035" stroke-width="2"/>
                            </svg>
                        button.catalog__filter-btnline.catalog__filter-button
                            <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="6" width="19" height="3" rx="1.5" fill="#2F3035"/>
                                <rect x="6" y="8" width="19" height="3" rx="1.5" fill="#2F3035"/>
                                <rect x="6" y="16" width="19" height="3" rx="1.5" fill="#2F3035"/>
                                <rect width="3" height="3" rx="1.5" fill="#2F3035"/>
                                <rect y="8" width="3" height="3" rx="1.5" fill="#2F3035"/>
                                <rect y="16" width="3" height="3" rx="1.5" fill="#2F3035"/>
                            </svg>
                .catalog__inner
                    .aside__btn Фильтр
                    aside.catalog__inner-aside.aside-filter
                        .tabs-wrapper.panel__tabs
                            .tabs.aside-filter__tabs
                                button.tab.aside-filter__tab.tab--active(data-tab="parametrs")
                                    span Параметры
                                button.tab.aside-filter__tab(data-tab="model")
                                    span по марке
                            .tab-container
                                .tabs-content.aside-filter__tabs-content.tabs-content--active(data-tab="parametrs")
                                    form.aside-filter__form
                                        ul.aside-filter__list 
                                            li.aside-filter__item-drop
                                                p.aside-filter__item-title.filter__item-drop.filter__item-drop--active Наличие
                                                .aside-filter__content
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox" checked)
                                                            span.aside-filter__style
                                                            |Все
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style
                                                            |В наличии
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style
                                                            |Под заказ
                                            li.aside-filter__item-drop
                                                p.aside-filter__item-title.filter__item-drop.filter__item-drop--active Новинки
                                                .aside-filter__content.aside-filter__content--radio
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(name="radio" type="radio" checked)
                                                            span.aside-filter__style
                                                            |Все
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(name="radio" type="radio")
                                                            span.aside-filter__style
                                                            |Новинки
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(name="radio" type="radio")
                                                            span.aside-filter__style
                                                            |Акции
                                            li.aside-filter__item-drop
                                                p.aside-filter__item-title.filter__item-drop.filter__item-drop--active Цена
                                                    .aside-filter__content
                                                        .aside-filter__slider
                                                        .aside-filter__slider-inputs
                                                            label.aside-filter__slider-label
                                                                span.aside-filter__slider-text от
                                                                span.input
                                                                    input.aside-filter__slider-inputPrice#input0(type="number" placeholder="100000" min="100000"  max="500000")
                                                            label.aside-filter__slider-label
                                                                span.aside-filter__slider-text до
                                                                span.input
                                                                    input.aside-filter__slider-inputPrice#input1(type="number" placeholder="500000" min="100000"  max="500000")
                                            li.aside-filter__item-list
                                                p.filter__item-list Мощность, л.с.
                                                select.filter__item-select
                                                    option(value="90") 90
                                                    option(value="130") 130
                                                    option(value="154") 154
                                                    option(value="230") 230
                                                    option(value="300") 300
                                            li.aside-filter__item-list
                                                p.filter__item-list Мощность двигателя, л.с.
                                                select.filter__item-select
                                                    option(value="90") 90
                                                    option(value="130") 130
                                                    option(value="154") 154
                                                    option(value="230") 230
                                                    option(value="300") 300
                                            li.aside-filter__item-list
                                                p.filter__item-list Макс. скорость
                                                select.filter__item-select
                                                    option(value="90") 90
                                                    option(value="130") 130
                                                    option(value="154") 154
                                                    option(value="230") 230
                                                    option(value="300") 300
                                            li.aside-filter__item-drop
                                                p.aside-filter__item-title.filter__item-drop.filter__item-drop--active Бренд
                                                .aside-filter__content
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |BRP
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |Spark 2
                                                    .aside-filter__content-box.dn
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |Spark 3
                                                    .watch-more
                                                        button.watch-more__btn Показать еще
                                            li.aside-filter__item-drop
                                                p.aside-filter__item-title.filter__item-drop.filter__item-drop--active Модель
                                                .aside-filter__content
                                                    input.aside-filter__slider-input(type="text" placeholder="Введите модель")
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |Sea-doo Spark 2
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |SeaDoo Spark 90 
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |SeaDoo GTI 155
                                                    .aside-filter__content-box.dn
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |SeaDoo GTR 230
                                                    .aside-filter__content-box.dn
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |SeaDoo GTR 230
                                                    .aside-filter__content-box.dn
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |SeaDoo GTR 230
                                                    .watch-more
                                                        button.watch-more__btn Показать еще
                                            li.aside-filter__item-drop.btn-sale
                                                p.aside-filter__item-title.filter__item-drop.filter__item-drop--active Акции
                                                .aside-filter__content
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style
                                                            span.btn-sale__text SALE
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style
                                                            span.btn-sale__text NEW
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style
                                                            span.btn-sale__text HIT
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style
                                                            span.btn-sale__text ДИЛЕР
                                            li.aside-filter__item-drop
                                                p.aside-filter__item-title.filter__item-drop.filter__item-drop--active Страны
                                                .aside-filter__content
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox" data-filter="russia")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |Россия
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox" data-filter="germany")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |Германия
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox" data-filter="china")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |Китай
                                                    .aside-filter__content-box
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox" data-filter="usa")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |CША
                                                    .aside-filter__content-box.dn
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |CША
                                                    .aside-filter__content-box.dn
                                                        label.aside-filter__label
                                                            input.aside-filter__input(type="checkbox")
                                                            span.aside-filter__style.aside-filter__style--check
                                                            |CША
                                                    .watch-more
                                                        button.watch-more__btn Показать еще
                                            li.aside-filter__item-drop.aside-filter__item-btn
                                                button.filter-btn__send.filter-btn__send--active(type="submit") ВЫБРАТЬ
                                                p.filter__extra Дополнительные параметры
                                                .filter__extra-content more
                                                button.filter-btn__reset(type="submit") Сбросить фильтр
                                .tabs-content.aside-filter__tabs-content(data-tab="model") фильтр по модели
                    .catalog__inner-list
                        .product-item__wrapper(data-country="russia")
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-1.png", alt="")
                                h4.product-item__title Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango
                                p.price.product-item__price 1 049 500 ₽
                                p.product-item__notify-text нет в наличии
                        .product-item__wrapper(data-country="russia")
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item.product-item--sale(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-2.png", alt="")
                                h4.product-item__title Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic
                                p.price.product-item__price 1 100 475 ₽
                                p.product-item__notify-text нет в наличии
                        .product-item__wrapper.product-item__not-available
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-3.png", alt="")
                                h4.product-item__title Гидроцикл BRP SeaDoo GTR 230hp X California green 
                                p.price.product-item__price 1 323 700 ₽
                                p.product-item__notify-text нет в наличии
                        .product-item__wrapper
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-4.png", alt="")
                                h4.product-item__title Гидроцикл BRP SeaDoo GTR 230hp STD Black / Gulfstream
                                p.price.product-item__price 2 049 500 ₽
                                p.product-item__notify-text нет в наличии
                        .product-item__wrapper(data-country="russia")
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item.product-item--sale(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-5.png", alt="")
                                h4.product-item__title Гидроцикл BRP SeaDoo GTX 300hp LTD Liquid Metal
                                p.price.product-item__price 1 543 000 ₽
                                p.product-item__notify-text нет в наличии
                        .product-item__wrapper.product-item__not-available(data-country="russia")
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-6.png", alt="")
                                h4.product-item__title Гидроцикл BRP SeaDoo Spark 60hp 2 up
                                p.price.product-item__price 732 345 ₽
                                p.product-item__notify-text нет в наличии
                        .product-item__wrapper
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-7.png", alt="")
                                h4.product-item__title Гидроцикл BRP SeaDoo Spark GTS 90hp Rental
                                p.price.product-item__price 857 666 ₽
                                p.product-item__notify-text нет в наличии
                        .product-item__wrapper
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item.product-item--sale(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-8.png", alt="")
                                h4.product-item__title Гидроцикл BRP SeaDoo WAKE 230hp PRO Teal blue
                                p.price.product-item__price 1 229 711 ₽
                                p.product-item__notify-text нет в наличии
                        .product-item__wrapper.product-item__not-available
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-9.png", alt="")
                                h4.product-item__title Гидроцикл Spark 2-UP 900 Ho Ace Chili Pepper
                                p.price.product-item__price 587 440 ₽
                                p.product-item__notify-text нет в наличии
                        .product-item__wrapper
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-10.png", alt="")
                                h4.product-item__title Гидроцикл Spark 2-UP 900 Ho Ace Pineapple 
                                p.price.product-item__price 587 440 ₽
                                p.product-item__notify-text нет в наличии
                        .product-item__wrapper
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item.product-item--sale(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-11.png", alt="")
                                h4.product-item__title Гидроцикл BRP Sea-doo Spark 2-UP 900 Ace Vanilla 
                                p.price.product-item__price 3 049 500 ₽
                                p.product-item__notify-text нет в наличии
                        .product-item__wrapper.product-item__not-available
                            button.product-item__favorite
                            button.product-item__basket
                                img(src="img/basket-white.svg", alt="")
                            a.product-item__notify-link(href="#")
                                span Сообщить о поступлении
                            a.product-item(href="#")
                                p.product-item__hover-text посмотреть товар
                                img.product-item__img(src="img/usercontent/gidrotsikl-12.png", alt="")
                                h4.product-item__title Гидроцикл Spark 3-UP 900 HO Ace IBR Blueberry
                                p.price.product-item__price 1 800 500 ₽
                                p.product-item__notify-text нет в наличии
                        .pagination
                            ul.pagination-list
                                li.pagination-list__item.active
                                    a(href="#") 1
                                li.pagination-list__item
                                    a(href="#") 2
                                li.pagination-list__item
                                    a(href="#") 3
                                li.pagination-list__item
                                    a(href="#") 4
                                li.pagination-list__item
                                    a(href="#") 5
                                li.pagination-list__item.pagination-list__item--dots
                                    span ...
                                li.pagination-list__item
                                    a(href="#") 11            
        footer.footer
            .container
                .footer__top 
                    .footer__top-inner 
                        .footer__top-item.footer__top-newslatter 
                            h6.footer__top-title Подпишитесь на нашу рассылку и узнавайте о акциях быстрее
                            form.footer-form
                                input.footer-form__input(type="text" placeholder="Введите ваш e-mail:")
                                button.footer-form__btn(type="submit") Отправить
                        .footer__top-item 
                            h6.footer__top-title Информация
                            ul.footer-list
                                li.fiiter-list__item
                                    a(href="#") О компании
                                li.fiiter-list__item
                                    a(href="#") Контакты
                                li.fiiter-list__item
                                    a(href="#") Акции
                                li.fiiter-list__item
                                    a(href="#") Магазины
                        .footer__top-item 
                            h6.footer__top-title Интернет-магазин
                            ul.footer-list
                                li.fiiter-list__item
                                    a(href="#") Доставка и самовывоз
                                li.fiiter-list__item
                                    a(href="#") Оплата
                                li.fiiter-list__item
                                    a(href="#") Возврат-обмен
                                li.fiiter-list__item
                                    a(href="#") Новости
                        .footer__top-item.footer__top-social
                            ul.social-list
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/instagram.svg", alt="")
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/vk.svg", alt="")
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/facebook.svg", alt="")
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/youtube.svg", alt="")
                .footer__bottom 
                    a.footer__bottom-link(href="#") Договор оферты
                    a.footer__bottom-link(href="#") Политика обработки персональных данных

    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="libs/nouislider/nouislider.min.js")
    script(src="libs/choices/choices.min.js")
    script(src="js/main.js")