<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title drive moto
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        //- link(rel="preconnect" href="https://fonts.googleapis.com")
        //- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")

    body
        header.header
            .header__top
                .container
                    .header__top-inner
                        nav.menu
                            ul.menu__list
                                li.menu__item
                                    a.menu__link(href="#") Магазины
                                li.menu__item
                                    a.menu__link(href="#") Акции
                                li.menu__item
                                    a.menu__link(href="#") Доставка и оплата
                        a.logo(href="#")
                            img.logo__img(src="img/logo.svg", alt="")
                        .header__box
                            .header__adress Москва,  ул. Науки  25
                            ul.user-list
                                li.user-list__item
                                    a.user-list__link(href="#")
                                        img.user-list__img(src="img/heart.svg", alt="")
                                li.user-list__item
                                    a.user-list__link(href="#")
                                        img.user-list__img(src="img/user.svg", alt="")
                                li.user-list__item
                                    a.user-list__link.basket(href="#")
                                        img.user-list__img(src="img/basket.svg", alt="")
                                        p.basket__num 1
            .header__bottom
                .container
                    ul.menu-categories
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Квадроциклы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Катера
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Гидроциклы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Лодки
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Вездеходы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Снегоходы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Двигатели
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Запчасти
        section.banner-section
            .container
                .banner-section__inner
                    .banner-section__slider.swiper-container
                        .swiper-wrapper
                            .banner-section__slide.swiper-slide
                                a.banner-section__slider-item(href="#")
                                    img.banner-section__slider-img(src="img/banner/banner-slide.jpg", alt="")
                            .banner-section__slide.swiper-slide
                                a.banner-section__slider-item(href="#")
                                    img.banner-section__slider-img(src="img/banner/banner-slide.jpg", alt="")
                            .banner-section__slide.swiper-slide
                                a.banner-section__slider-item(href="#")
                                    img.banner-section__slider-img(src="img/banner/banner-slide.jpg", alt="")
                            .banner-section__slide.swiper-slide
                                a.banner-section__slider-item(href="#")
                                    img.banner-section__slider-img(src="img/banner/banner-slide.jpg", alt="")
                            .banner-section__slide.swiper-slide
                                a.banner-section__slider-item(href="#")
                                    img.banner-section__slider-img(src="img/banner/banner-slide.jpg", alt="")
                            .banner-section__slide.swiper-slide
                                a.banner-section__slider-item(href="#")
                                    img.banner-section__slider-img(src="img/banner/banner-slide.jpg", alt="")
                        .swiper-prev
                            img(src="img/arrow-left.svg", alt="")
                        .swiper-next
                            img(src="img/arrow-right.svg", alt="")
                        .swiper-pagination
                    a.banner-section__item.sale-item(href="#")
                        .sale-item__top
                            p.sale-item__info акция
                            .sale-item__price
                                .price.sale-item__price-new 190 000
                                .price.sale-item__price-old 225 000
                        img.sale-item__img(src="img/usercontent/sale.png", alt="")
                        h5.sale-item__title Лодочный мотор Suzuki DF9.9BRS
                        p.sale-item__footer Акция действует до 
                            span 31.08.2020
        section.search
            .container 
                .search__inner 
                    .search__tabs 
                        button.tab.search__tabs-item.tab--active(data-tab="#tab_1") Поиск по  номеру
                        button.tab.search__tabs-item(data-tab="#tab_2") Поиск по марке
                        button.tab.search__tabs-item(data-tab="#tab_3") Поиск по названию товара
                    .search__content
                        .tabs-content.search__content-item.tabs-content--active#tab_1
                            form.search__content-form
                                input.search__content-input(type="text" placeholder="Введите номер")
                                button.search__content-btn(type="submit") Искать
                        .tabs-content.search__content-item#tab_2
                            form.search__content-form
                                input.search__content-input(type="text" placeholder="Введите марку")
                                button.search__content-btn(type="submit") Искать
                        .tabs-content.search__content-item#tab_3
                            form.search__content-form
                                input.search__content-input(type="text" placeholder="Введите название")
                                button.search__content-btn(type="submit") Искать
        section.categories
            .container 
                .categories__inner
                    a.categories__item(href="#") 
                        .categories__item-info
                            h4.categories__item-title Квадроциклы
                            p.categories__item-text Подробее
                        .categories__item-img
                            img(src="img/usercontent/categories-1.png", alt="")
                    a.categories__item(href="#") 
                        .categories__item-info
                            h4.categories__item-title Гидроциклы
                            p.categories__item-text Подробее
                        .categories__item-img
                            img(src="img/usercontent/categories-2.png", alt="")
                    a.categories__item(href="#") 
                        .categories__item-info
                            h4.categories__item-title Катера
                            p.categories__item-text Подробее
                        .categories__item-img
                            img(src="img/usercontent/categories-3.png", alt="")
                    a.categories__item(href="#") 
                        .categories__item-info
                            h4.categories__item-title Снегоходы
                            p.categories__item-text Подробее
                        .categories__item-img
                            img(src="img/usercontent/categories-4.png", alt="")
                    a.categories__item(href="#") 
                        .categories__item-info
                            h4.categories__item-title Вездеходы
                            p.categories__item-text Подробее
                        .categories__item-img
                            img(src="img/usercontent/categories-5.png", alt="")
                    a.categories__item(href="#") 
                        .categories__item-info
                            h4.categories__item-title Двигатели
                            p.categories__item-text Подробее
                        .categories__item-img
                            img(src="img/usercontent/categories-6.png", alt="")
        section.products 
            .container 
                .products__inner
                    .tabs-wrapper
                        .tabs
                            a.tab(href="#") 
                        .tab-container
                            .tab-content
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="js/main.js")