<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title drive moto
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")

    body
        header.header
            .header__top
                .container
                    .header__top-inner
                        nav.menu
                            ul.menu__list
                                li.menu__item
                                    a.menu__link(href="#") Магазины
                                li.menu__item
                                    a.menu__link(href="#") Акции
                                li.menu__item
                                    a.menu__link(href="#") Доставка и оплата
                        a.logo(href="#")
                            img.logo__img(src="img/logo.svg", alt="")
                        .header__box
                            .header__adress Москва,  ул. Науки  25
                            ul.user-list
                                li.user-list__item
                                    a.user-list__link(href="#")
                                        img.user-list__img(src="img/heart.svg", alt="")
                                li.user-list__item
                                    a.user-list__link(href="#")
                                        img.user-list__img(src="img/user.svg", alt="")
                                li.user-list__item
                                    a.user-list__link.basket(href="#")
                                        img.user-list__img(src="img/basket.svg", alt="")
                                        p.basket__num 1
            .header__bottom
                .container
                    ul.menu-categories
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Квадроциклы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Катера
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Гидроциклы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Лодки
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Вездеходы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Снегоходы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Двигатели
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Запчасти
        .breadcrumbs
            .container
                ul.breadcrumbs__list
                    li.breadcrumbs__list-item 
                        a(href="index.html") Главная
                    li.breadcrumbs__list-item 
                        a(href="#") Гидроциклы
                    li.breadcrumbs__list-item 
                        a(href="#") Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic
        section.product-card
            .container 
                .product-card__inner
                    .product-card__img-box.product-item--sale 
                        img.product-card__img(src="img/usercontent/gidrotsikl-large.png", alt="")
                        p.product-card__price-old 1 200 475 ₽
                        p.product-card__price-new 1 100 475 ₽
                        a.product-card__link(href="#") Нашли дешевле? Снизим цену!
                    .product-card__content
                        h1.product-card__title Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic
                        p.product-card__code Код товара: 366666-2 
                        .product-card__buttons
                            button.product-card__icon.product-card__icon--favorite
                            button.product-card__icon.product-card__icon--compresion
                                <svg width="20" height="28" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="16" y="15.7708" width="4" height="11.7255" rx="2" />
                                    <rect x="8" y="0.527588" width="4" height="26.9687" rx="2" />
                                    <rect y="9.90796" width="4" height="17.5883" rx="2" />
                                </svg>
                            .rating.rating__set(data-ajax="true")
                                .rating__body 
                                    .rating__active
                                    .rating__items
                                        input.rating__item(type="radio" value="1" name="rating")
                                        input.rating__item(type="radio" value="2" name="rating")
                                        input.rating__item(type="radio" value="3" name="rating")
                                        input.rating__item(type="radio" value="4" name="rating")
                                        input.rating__item(type="radio" value="5" name="rating")
                                    .rating__value 4.5
                        .tabs-wrapper.product-card__tabs
                            .tabs
                                button.tab.product-card__tab.tab--active(data-tab="#parametrs") Характеристики
                                button.tab.product-card__tab(data-tab="#nal") Наличие в магазине
                            .tabs-container
                                .tabs-content.product-card__tab-content#parametrs.tabs-content--active
                                    ul.product-card__list 
                                        li.product-card__item 
                                            .product-card__item-left Производитель
                                            .product-card__item-right Канада
                                        li.product-card__item 
                                            .product-card__item-left Количество мест, шт: 
                                            .product-card__item-right 3
                                        li.product-card__item 
                                            .product-card__item-left Мощность, л.с.
                                            .product-card__item-right 155
                                        li.product-card__item 
                                            .product-card__item-left Тип двигателя
                                            .product-card__item-right Бензиновый
                                        li.product-card__item 
                                            .product-card__item-left Год выпуска
                                            .product-card__item-right 2018
                                    a.product-card__more(href="#") Показать еще
                                    .product-card__btn
                                        button купить
                                .tabs-content.product-card__tab-content#nal content-2
        section.card__tabs
            .container
                 .tabs-wrapper.card__tabs
                            .tabs.card__tabs-box
                                button.tab.card__tab(data-tab="#about") Характеристики
                                button.tab.card__tab(data-tab="#settings") Наличие в магазине
                                button.tab.card__tab(data-tab="#reviews") Отзывы
                                button.tab.card__tab.tab--active(data-tab="#pickup") Самовывоз
                                button.tab.card__tab(data-tab="#delivery") Доставка
                                button.tab.card__tab(data-tab="#service") Cервис
                                button.tab.card__tab(data-tab="#warranty") Гарантия
                            .tabs-container
                                .tabs-content.card__tab-content#about content-1
                                .tabs-content.card__tab-content#settings content-2
                                .tabs-content.card__tab-content#reviews content-3
                                .tabs-content.card__tab-content#pickup.tabs-content--active
                                    form
                                        .card__top-line
                                            label.card__label-search
                                                |Магазин
                                                input.card__input-search(type="text")
                                            label.card__input-pickup
                                                input(type="radio" name="pickup")
                                                span.card__style
                                                |Забрать сегодня
                                            label.card__input-pickup
                                                input(type="radio" name="pickup" checked)
                                                span.card__style
                                                |Забрать в течение недели
                                        ul.card__list
                                            li.card__list-item.card__list-item--title
                                                .card__list-address Адрес
                                                .card__list-workhours Режим работы
                                                .card__list-avialable Доступно
                                                .card__list-num Количество
                                                .card__list-btn
                                            li.card__list-item
                                                .card__list-address Москва, ул. Науки 25
                                                .card__list-workhours
                                                    div.workhours
                                                        span пн-сб: 
                                                        span 08:00-19:00
                                                    div.workhours
                                                        span вс: 
                                                        span 09:00-17:00
                                                .card__list-avialable В наличии
                                                .card__list-num 1
                                                .card__list-btn
                                                    button(type="submit") купить
                                            li.card__list-item
                                                .card__list-address Москва, ул.  Южная 134
                                                .card__list-workhours
                                                    div.workhours
                                                        span пн-сб: 
                                                        span 08:00-19:00
                                                    div.workhours
                                                        span вс: 
                                                        span 09:00-17:00
                                                .card__list-avialable В наличии
                                                .card__list-num 2
                                                .card__list-btn
                                                    button(type="submit") купить
                                            li.card__list-item
                                                .card__list-address Санкт-Петербург,<br> ул. Красная 19
                                                .card__list-workhours
                                                    div.workhours
                                                        span пн-сб: 
                                                        span 08:00-19:00
                                                    div.workhours
                                                        span вс: 
                                                        span 09:00-17:00
                                                .card__list-avialable Нет в наличии
                                                .card__list-num 0
                                                .card__list-btn
                                                    button(type="submit") купить
                                            li.card__list-item
                                                .card__list-address Киев, ул Шевченко 167
                                                .card__list-workhours
                                                    div.workhours
                                                        span пн-сб: 
                                                        span 08:00-19:00
                                                    div.workhours
                                                        span вс: 
                                                        span 09:00-17:00
                                                .card__list-avialable Нет в наличии
                                                .card__list-num 0
                                                .card__list-btn
                                                    button(type="submit") купить
                                .tabs-content.card__tab-content#delivery content-5
                                .tabs-content.card__tab-content#service content-6
                                .tabs-content.card__tab-content#warranty content-7
        section.products
            .container 
                .products__inner
                    h3.title С этими товарами покупают
                    .tabs-wrapper
                        .tabs.products__tabs
                            button.tab.tab--active.products__tab(data-tab="#popular-tab-4") запчасти
                            button.tab.products__tab(data-tab="#popular-tab-5") моторы
                            button.tab.products__tab(data-tab="#popular-tab-6") шины
                            button.tab.products__tab(data-tab="#popular-tab-7") электроника
                            button.tab.products__tab(data-tab="#popular-tab-8") инструменты
                            button.tab.products__tab(data-tab="#popular-tab-9") аксессуары
                        .tab-container.products__container
                            .tabs-content.product__content.tabs-content--active#popular-tab-4
                                .product-slider.swiper
                                    .swiper-wrapper
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper.product-item__not-available
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                .product-slider__btn.prev 
                                    img(src="img/arrow-products-prev.svg", alt="")
                                .product-slider__btn.next
                                    img(src="img/arrow-products-next.svg", alt="")
                            .tabs-content.product__content#popular-tab-5
                                .product-slider.swiper
                                    .swiper-wrapper
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-2.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper.product-item__not-available
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                .product-slider__btn.prev 
                                    img(src="img/arrow-products-prev.svg", alt="")
                                .product-slider__btn.next
                                    img(src="img/arrow-products-next.svg", alt="")
                            .tabs-content.product__content#popular-tab-6
                                .product-slider.swiper
                                    .swiper-wrapper
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-3.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper.product-item__not-available
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                .product-slider__btn.prev 
                                    img(src="img/arrow-products-prev.svg", alt="")
                                .product-slider__btn.next
                                    img(src="img/arrow-products-next.svg", alt="")
                            .tabs-content.product__content#popular-tab-7
                                .product-slider.swiper
                                    .swiper-wrapper
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-4.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper.product-item__not-available
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                .product-slider__btn.prev 
                                    img(src="img/arrow-products-prev.svg", alt="")
                                .product-slider__btn.next
                                    img(src="img/arrow-products-next.svg", alt="")
                            .tabs-content.product__content#popular-tab-8
                                .product-slider.swiper
                                    .swiper-wrapper
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-2.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-2.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper.product-item__not-available
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                .product-slider__btn.prev 
                                    img(src="img/arrow-products-prev.svg", alt="")
                                .product-slider__btn.next
                                    img(src="img/arrow-products-next.svg", alt="")
                            .tabs-content.product__content#popular-tab-9
                                .product-slider.swiper
                                    .swiper-wrapper
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-4.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper.product-item__not-available
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                        .product-slider__item.swiper-slide
                                            .product-item__wrapper
                                                button.product-item__favorite
                                                button.product-item__basket
                                                    img(src="img/basket-white.svg", alt="")
                                                a.product-item__notify-link(href="#")
                                                    span Сообщить о поступлении
                                                a.product-item.product-item--sale(href="#")
                                                    p.product-item__hover-text посмотреть товар
                                                    img.product-item__img(src="img/usercontent/product-1.png", alt="")
                                                    h4.product-item__title Водонепроницаемый Рюкзак
                                                    p.price.product-item__price 9 800 ₽
                                                    p.product-item__notify-text нет в наличии
                                .product-slider__btn.prev 
                                    img(src="img/arrow-products-prev.svg", alt="")
                                .product-slider__btn.next
                                    img(src="img/arrow-products-next.svg", alt="")
        footer.footer
            .container
                .footer__top 
                    .footer__top-inner 
                        .footer__top-item.footer__top-newslatter 
                            h6.footer__top-title Подпишитесь на нашу рассылку и узнавайте о акциях быстрее
                            form.footer-form
                                input.footer-form__input(type="text" placeholder="Введите ваш e-mail:")
                                button.footer-form__btn(type="submit") Отправить
                        .footer__top-item 
                            h6.footer__top-title Информация
                            ul.footer-list
                                li.fiiter-list__item
                                    a(href="#") О компании
                                li.fiiter-list__item
                                    a(href="#") Контакты
                                li.fiiter-list__item
                                    a(href="#") Акции
                                li.fiiter-list__item
                                    a(href="#") Магазины
                        .footer__top-item 
                            h6.footer__top-title Интернет-магазин
                            ul.footer-list
                                li.fiiter-list__item
                                    a(href="#") Доставка и самовывоз
                                li.fiiter-list__item
                                    a(href="#") Оплата
                                li.fiiter-list__item
                                    a(href="#") Возврат-обмен
                                li.fiiter-list__item
                                    a(href="#") Новости
                        .footer__top-item.footer__top-social
                            ul.social-list
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/instagram.svg", alt="")
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/vk.svg", alt="")
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/facebook.svg", alt="")
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/youtube.svg", alt="")
                .footer__bottom 
                    a.footer__bottom-link(href="#") Договор оферты
                    a.footer__bottom-link(href="#") Политика обработки персональных данных

    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="js/main.js")