<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title drive moto
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")

    body
        header.header
            .header__top
                .container
                    .header__top-inner
                        nav.menu
                            ul.menu__list
                                li.menu__item
                                    a.menu__link(href="#") Магазины
                                li.menu__item
                                    a.menu__link(href="#") Акции
                                li.menu__item
                                    a.menu__link(href="#") Доставка и оплата
                        a.logo(href="#")
                            img.logo__img(src="img/logo.svg", alt="")
                        .header__box
                            .header__adress Москва,  ул. Науки  25
                            ul.user-list
                                li.user-list__item
                                    a.user-list__link(href="#")
                                        img.user-list__img(src="img/heart.svg", alt="")
                                li.user-list__item
                                    a.user-list__link(href="#")
                                        img.user-list__img(src="img/user.svg", alt="")
                                li.user-list__item
                                    a.user-list__link.basket(href="#")
                                        img.user-list__img(src="img/basket.svg", alt="")
                                        p.basket__num 1
            .header__bottom
                .container
                    ul.menu-categories
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Квадроциклы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Катера
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Гидроциклы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Лодки
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Вездеходы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Снегоходы
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Двигатели
                        li.menu-categories__item
                            a.menu-categories__link(href="#") Запчасти
        .breadcrumbs
            .container
                ul.breadcrumbs__list
                    li.breadcrumbs__list-item 
                        a(href="index.html") Главная
                    li.breadcrumbs__list-item 
                        a(href="#") Гидроциклы
                    li.breadcrumbs__list-item 
                        a(href="#") Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic
        section.product-card
            .container 
                .product-card__inner
                    .product-card__img-box 
                        img.product-card__img(src="img/usercontent/gidrotsikl-large.png", alt="")
                        p.product-card__price-old 1 200 475 ₽
                        p.product-card__price-new 1 100 475 ₽
                        a.product-card__link(href="#") Нашли дешевле? Снизим цену!
                    .product-card__content
                        h1.product-card__title Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic
                        p.product-card__code Код товара: 366666-2 
                        .product-card__buttons
                            button.product-card__icon-favorite
                                img(src="img/favorite.svg", alt="")
                            button.product-card__icon-compresion
                                img(src="img/compresion.svg", alt="")
                            .rate
                            .tabs-wrapper.product-card__tabs
                                .tabs
                                    a.tab.product-card__tab.tab--active(href="#") Характеристики
                                    a.tab.product-card__tab(href="#") Наличие в магазине
                                .tab-container
                                    .tab-content.product-card__tab-content.tab-content--active
                                        ul.product-card__list 
                                            li.product-card__item 
                                                .product-card__item-left Производитель
                                                .product-card__item-right Канада
                                            li.product-card__item 
                                                .product-card__item-left Количество мест, шт: 
                                                .product-card__item-right 3
                                            li.product-card__item 
                                                .product-card__item-left Мощность, л.с.
                                                .product-card__item-right 155
                                            li.product-card__item 
                                                .product-card__item-left Тип двигателя
                                                .product-card__item-right Бензиновый
                                            li.product-card__item 
                                                .product-card__item-left Год выпуска
                                                .product-card__item-right 2018
                                    a.product-card__more(href="#") Показать еще
                                    button.product-card__btn купить
                                    .tab-content.product-card__tab-content content-2
        footer.footer
            .container
                .footer__top 
                    .footer__top-inner 
                        .footer__top-item.footer__top-newslatter 
                            h6.footer__top-title Подпишитесь на нашу рассылку и узнавайте о акциях быстрее
                            form.footer-form
                                input.footer-form__input(type="text" placeholder="Введите ваш e-mail:")
                                button.footer-form__btn(type="submit") Отправить
                        .footer__top-item 
                            h6.footer__top-title Информация
                            ul.footer-list
                                li.fiiter-list__item
                                    a(href="#") О компании
                                li.fiiter-list__item
                                    a(href="#") Контакты
                                li.fiiter-list__item
                                    a(href="#") Акции
                                li.fiiter-list__item
                                    a(href="#") Магазины
                        .footer__top-item 
                            h6.footer__top-title Интернет-магазин
                            ul.footer-list
                                li.fiiter-list__item
                                    a(href="#") Доставка и самовывоз
                                li.fiiter-list__item
                                    a(href="#") Оплата
                                li.fiiter-list__item
                                    a(href="#") Возврат-обмен
                                li.fiiter-list__item
                                    a(href="#") Новости
                        .footer__top-item.footer__top-social
                            ul.social-list
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/instagram.svg", alt="")
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/vk.svg", alt="")
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/facebook.svg", alt="")
                                li.social-list__item 
                                    a(href="#")
                                        img(src="img/social/youtube.svg", alt="")
                .footer__bottom 
                    a.footer__bottom-link(href="#") Договор оферты
                    a.footer__bottom-link(href="#") Политика обработки персональных данных

    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="js/main.js")